<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/straws.webp') }})">
            <span class="site-title">Jonathan Linnér || jobw22</span>
        </header>
        <nav class="siteNav">
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('lucky_number') }}">Lucky</a></li>
                <li><a href="{{ path('card') }}">Cards</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block footer %}
            <footer id="footer">
                <p>Skapad av Jonathan Linnér student på BTH</p>
            </footer>
        {% endblock %}
    </body>
</html>
